# Ignore everything
**

# With these exceptions:
!/simulator_config/**
!/validator_config/**
!/tkw-x.properties
!/set-all-configurations.sh
!/runtkwfhirvalidator.sh
!/tkwoutputstructure.tar
!/version_string.txt
